@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background-color: rgb(221, 210, 210);

}

h1{
   color: rgb(173, 58, 77);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

list-group{
    background-color: whitesmoke;
}

.restantes{
    text-align: left;
    text-align: inherit;
    color:rgb(194, 191, 191);
}

.hr1{
    
  border-radius: 5px;
      width: 90%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 20px solid white;
}

.hr2{
    
  border-radius: 5px;
      width: 80%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 18px solid white;
}

.hr3{
    
  border-radius: 5px;
      width: 70%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 15px solid white;
}

.hr4{
    
  border-radius: 5px;
      width: 60%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 12px solid white;
}

.hr4{
    
  border-radius: 5px;
      width: 55%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 12px solid white;
}

.hr5{
    
  border-radius: 5px;
      width: 40%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 10px solid white;
}

.hr6{
    
  border-radius: 5px;
      width: 30%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 8px solid white;
}

.hr7{
    
  border-radius: 5px;
      width: 20%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 8px solid white;
}

.hr8{
    
  border-radius: 5px;
      width: 15%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 6px solid white;
}

.hr9{
    
  border-radius: 5px;
      width: 5%;
    height: 1px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 2px solid white;
}

